.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
.button-container {
    display: flex;
    flex-direction: row;
}
  
 
  .login-btn {
    border-radius: 20px;
    color: black;
    margin: 0 5px;
}

.mat-mdc-raised-button:not(:disabled) {
  background-color: gold;
}

.mat-mdc-dialog-container {
  background-color: transparent;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: transparent !important;
}