.nav-bar {
    width: 60%;
    height: 100px;
    position: sticky;
    top: 0;
    left: 20%;
    background: rgb(0 126 255 / 37%);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .nav-title {
    color: gold;
    font-size: 24px;
    text-align: center;
  }
  
  .nav-button-group {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-link {
    border-radius: 20px;
    background-color: gold;
    color: black;
    margin: 0 5px;
  }
  
 
  