<app-nav-bar></app-nav-bar>

<div class="user-page">

    <h1>Profile</h1>
    <p>Username: {{user.Username}}</p>
    <p>Email: {{user.Email}}</p>
    <!--<p>Birthday: {{user.Birthday}}</p> -->


    <h2>Update Profile</h2>
        <form>
            <mat-form-field>
                <input matInput [(ngModel)]="userData.Username" minlength="3" type="username" placeholder="Username"
                    name="Username" required>
                </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="userData.Password" minlength="8" type="password" 
                    name="Password" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="userData.Email" type="email" placeholder="Email" name="Email" required>
            </mat-form-field>
        </form>
        <button mat-raised-button (click)="editUser()" color="primary">
            Update
        </button>


</div>
